/api/LoanCalculator.Tests/obj
/api/LoanCalculator.Tests/bin
/api/LoanCalculator/bin
/api/LoanCalculator/obj
/web/.angular
/web/node_modules
/web/.vscode
/api/LoanCalculator/Resources/loancalculator.db
/api/LoanCalculator/appsettings.Development.json
/web/.editorconfig
