.loanAmount, .years {
    width: 25%;
}

mat-table {
  width: 100%;
  white-space: break-spaces;
  display: table;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex-row {
  display: flex;
  flex-direction: row;
}